* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.2s ease-in;
}

.panel.active {
    flex: 1;

}

@media(max-width: 480px) {
    .container {
        width: 100vh;
    }
    .panel{
        flex: 1;
    }
    .panel:nth-of-type(2),
    .panel:nth-of-type(3),
    .panel:nth-of-type(4) {
        display: none;
    }
}